body {
  background-color: black;
}
h1 {
  color: antiquewhite;
}
h2 {
  color: color: wheat;
}
.section2 {
  margin-top: 5%;
  list-style: none;
}
.section2 li a {
  text-decoration: none;
}
.section2 li ul {
  color: chocolate;
  font-size: 1.5em;
}
.section2 :hover {
  color: antiquewhite;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.section1 {
  background: chocolate;
}
.section1 h2 {
  margin-left: 40px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  color: antiquewhite;
  font-size: 0.9em;
  font-weight: 800;
}
.flex-items {
  background-color: rgb(235, 116, 18);
  margin: 4px;
  width: auto;
  height: 50px;
}
.flex-items .chords {
  color: rgb(13, 12, 14);
  text-align: center;
  font-size: 1.3em;
}
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(6) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(7) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(8) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
button {
  margin-top: 40px;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 1.5em;
  font-weight: 400;
}
